@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Profile</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" src="~/theme/production/images/picture.jpg" alt="Avatar" title="Change the avatar">
                                    </div>
                                </div>
                                <h3>.</h3>

                                <ul class="list-unstyled user_data">
                                    <li>
                                        <i class="fa fa-map-marker user-profile-icon"></i> San Francisco, California, USA
                                    </li>

                                    <li>
                                        <i class="fa fa-briefcase user-profile-icon"></i> Software Engineer
                                    </li>

                                    <li class="m-top-xs">
                                        <i class="fa fa-external-link user-profile-icon"></i>
                                        <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-9 col-sm-9 ">

                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>Details of Information</h2>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li>
                                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <table class="table table-striped">
                                                <tbody>
                                                    @foreach (var item in Model.model)
                                                    {
                                                        <tr>
                                                            <td>@item.FullName</td>
                                                            <td>@item.Email</td>
                                                            <td>@item.PhoneNumber</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Email Confirmation Status:</td>
                                                            <td>@item.EmailConfirmed</td>
                                                            @if (!item.EmailConfirmed)
                                                            {
                                                                <td><a asp-controller="Account" asp-action="EmailConfirmationAfterLogin">Send Email confirmation</a></td>
                                                            }
                                                        </tr>
                                                        @if (item.PhoneNumber != null)
                                                        {
                                                            <tr>
                                                                <td>Phone Confirmation Status:</td>
                                                                <td>@item.PhoneNumberConfirmed</td>
                                                                @if (!item.PhoneNumberConfirmed)
                                                                {
                                                                    <td><a asp-controller="Account" asp-action="PhoneNumberConfirmationAfterLogin">Send Phone-Number confirmation</a></td>
                                                                }
                                                            </tr>
                                                        }
                                                        <tr>
                                                            <td>
                                                                Two-Factor Login status:<br />
                                                                ♦To enable Two-Factor Login You must confirm your email or mobile number!
                                                            </td>
                                                            <td>@item.TwoFactorEnabled</td>
                                                            <td><a asp-controller="Account" asp-action="TwoFactorEnabled">Change Status</a></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>