@using Microsoft.AspNetCore.Authorization
@model MainPageModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    @foreach (var item in Model.PostPDPDto.Image)
                    {
                        <div class="feature-img">
                            <img class="img-fluid" src="@item" alt="">
                        </div>
                    }
                    <div class="blog_details">
                        <h2>
                            @Model.PostPDPDto.Titel
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i>@Model.PostPDPDto.NameAuthor</a></li>
                            <li><a href="#"><i class="fa fa-comments"></i> @Model.CommentListDtos.Count() Comments</a></li>
                            <li><a href="#"><i class="fa fa-clock"></i> Time Required: @Model.PostPDPDto.TimeRequired</a></li>
                        </ul>
                        <div>
                            @Html.Raw(Model.PostPDPDto.Content)
                        </div>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <a style="color:red" class="align-middle" asp-controller="Post" asp-action="AddFavorite" asp-route-PostId="@Model.PostPDPDto.Id">
                                <i class="fa fa-heart"></i>
                            </a> Add to your favorites
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="~/theme/assets/img/blog/author.png" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>Harvard milan</h4>
                            </a>
                            <p>
                                Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                                our dominion twon Second divided from
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>@Model.CommentListDtos.Count() Comments</h4>
                    @foreach (var item in Model.CommentListDtos.Where(p => p.Comment.ParentId == null))
                    {
                        <hr />
                        <div>
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="~/theme/assets/img/comment/user5.png" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            @item.Comment.Content
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#" class="genric-btn primary-border circle">@item.User</a>
                                                </h5>
                                            </div>
                                            <div class="reply-btn">
                                                <a asp-route-parentTypeId="@item.Comment.Id" asp-route-postId="@Model.PostPDPDto.Id"
                                               asp-controller="Comment" asp-action="Index" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var sub in item.Comment.SubType)
                            {
                                <br />
                                <div class="col-12">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="~/theme/assets/img/comment/user5.png" alt="">
                                            </div>
                                            <div class="desc">
                                                <p class="comment">@sub.Content</p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#" class="genric-btn primary-border circle">@sub.UserName</a>
                                                            <a class="genric-btn disable circle">Answer to: @item.User</a>
                                                        </h5>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a asp-route-parentTypeId="@sub.ParentId" asp-route-postId="@Model.PostPDPDto.Id"
                                                   asp-controller="Comment" asp-action="Index" class="btn-reply text-uppercase">reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-12">
                    <a asp-controller="Comment" asp-action="Index" asp-route-postId="@Model.PostPDPDto.Id"
                       class="genric-btn danger radius col-12">Add Comment</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Health Care</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    @foreach (var item in Model.PostPDPDto.similarPosts)
                    {
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div style="width: 214.333px; margin-left: 10px;">
                                <div class="media post_item">
                                    <img src="@item.Image" alt="post" width="80" height="80">
                                    <div class="media-body">
                                        <a href="single-blog.html">
                                            <h3>@item.Titel</h3>
                                        </a>
                                        <p>Time Required: @item.TimeRequired</p>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    }
                </div>
            </div>
        </div>
    </div>
</section>